.httfox-wyp-container {
  margin: 0;
  list-style: none;
  display: var(--httfox-wyp-display);
  gap: var(--httfox-wyp-gap);
  grid-template-columns: repeat(var(--httfox-wyp-columns), 1fr);
  margin-bottom: 42px;
}

@media only screen and (max-width: 720px) {
  .httfox-wyp-container {
    grid-template-columns: 1fr;
  }
}

.httfox-wyp-container-item {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.httfox-wyp-item-title {
  padding: 0 12px;
  display: block;
  cursor: default;
}

.httfox-wyp-item-image-box {
  position: relative;
}

.httfox-wyp-item-image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.httfox-wyp-item-player-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.httfox-wyp-item-player {
  --dimensions: 4.5rem;
  height: var(--dimensions);
  width: var(--dimensions);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.httfox-wyp-item-player:hover {
  transform: scale(1.2);
}

.httfox-wyp-item-player-arrow {
  --border-height: 0.7rem;
  --border-width: 1rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-radius: 0.125rem;
  border-width: var(--border-height) 0 var(--border-height) var(--border-width);
  border-color: transparent transparent transparent #fff;
  cursor: pointer;
}



.httfox-popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.httfox-popup-container {
  max-width: 900px;
  width: 90%;
  position: relative;
}

.httfox-popup-close {
  --dimensions: 2rem;
  position: absolute;
  top: calc((var(--dimensions) - 5px) * -1);
  right: calc((var(--dimensions) - 5px) * -1);
  width: var(--dimensions);
  height: var(--dimensions);
  border-radius: 50%;
  color: #fff;
  background: transparent;
  font-weight: 800;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

#httfox-wyp-button-show-more {
  --color: #555;
  --color-br: #fff;
  margin: 0 auto;
  display: block;
  background-color: var(--color-br);
  padding: 8px 20px;
  border: 2px solid var(--color);
  color: var(--color);
  font-weight: 500;
  cursor: pointer;
}